<video id="background-video" [autoplay]="true" [loop]="true" [muted]="true">
  <source src="https://thegameawards.com/video/home-banner-v-d.mp4" type="video/mp4">
</video>
<div class="container home">
  <div class="row">
    <div class="col col-md-10 offset-md-2">
      <img src="https://thegameawards.com/svgs/logo-with-text.svg">
      <h3 class="title"><label class="open-title">DECEMBER</label> 8</h3>
      <h3 class="subtitle"><label>MICROSOFT THEATER, LOS ANGELES</label></h3>
      <button class="calendar-btn" color="primary" mat-raised-button>ADD EVENT TO CALENDAR</button>
      <br>
      <button class="open-btn">VOTE NOW</button>
    </div>
  </div>
</div>
