
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>
<div class="snow"></div>

<video id="background-video" [autoplay]="true" [loop]="true" [muted]="true">
  <source src="https://thegameawards.com/video/home-banner-v-d.mp4" type="video/mp4">
</video>
<div class="container home">
  <div class="row" style="padding: 5vw">
    <div class="col col-md-10 offset-md-2">
      <img src="https://thegameawards.com/svgs/logo-with-text.svg">
      <h3 class="title"><label class="open-title">DECEMBER</label> 8</h3>
      <h3 class="subtitle"><label>MICROSOFT THEATER, LOS ANGELES</label></h3>
      <button class="calendar-btn" color="primary" mat-raised-button>ADD EVENT TO CALENDAR</button>
      <br>
      <button class="open-btn">VOTE NOW</button>
    </div>
  </div>
  <div class="row scroller">
    <p class="slide-text-open layer1">
    <span>
      GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
      &nbsp;•&nbsp;GLOBAL CELEBRATION OF VIDEO GAMES
    </span>
    </p>
  </div>
</div>

<div class="scroller">
  <p class="slide-text layer1">
    <span>
      STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
      &nbsp;•&nbsp;STREAMS LIVE ON ALL PLATFORMS
    </span>
  </p>

</div>

<div class="container explore">
  <div class="row">
    <div class="col col-md-6 explore-card nominees">
      <p class="title">NOMINEES</p>
      <p>EXPLORE THE NOMINEES AND VOTE NOW</p>
    </div>
    <div class="col col-md-6 explore-card jury">
      <p class="title">JURY</p>
      <p>MET OUR WORLD CLASS JURY</p>
    </div>
  </div>
</div>
