.home {
  /*  padding: 5vw;*/
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.title {
  margin-top: 10vh;
  font-size: 6vw;
  color: white;
}

.open-title {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.subtitle {
  color: white;
  margin-top: 4vh;
  font-size: 2vw;
  margin-left: .2vw;
}

.calendar-btn {
  font-size: large;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  margin-top: 6vh;
}

.calendar-btn:hover {
  background-color: white;
  color: #d43f10;
}

.open-btn {
  font-size: 19px;
  line-height: 19px;
  padding: 22px 32px 19px;
  letter-spacing: 4px;
  background-color: transparent;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  justify-content: center;
  margin-top: 6vh;
}

.open-btn:hover {
  background-color: white;
  border-color: white;
  color: #d43f10;
  border-radius: 4px;
}

#background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.explore {
  background-color: rgb(0, 0, 0);
  background-image: url(https://www.transparenttextures.com/patterns/use-your-illusion.png);

  background-size: initial;

  width: 100%;
  max-width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  @media screen and (max-width: 992px) {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
}

.explore-card {
  display: block;
  background-image: url(https://cdn.thegameawards.com/frontend/jpegs/insider-bg-desk.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;

  @media screen and (max-width: 992px) {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .title {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 5vw !important;
    display: block;
  }

  p {
    color: white;
    text-align: center;
    margin-top: 6vh;
    font-size: 2vw;
    display: block;
  }

  .jury {
  }

  .nominees {
    background-image: url(https://cdn.thegameawards.com/frontend/jpegs/insider-bg-desk.jpg);
  }

}

.slide-text-open {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  padding-top: 4vh;
  padding-bottom: 4vh;
  font-size: 7em;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.slide-text-open span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 360s linear infinite;
  animation-delay: -13s;

}


.slide-text {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  background-color: white;
  padding-top: 4vh;
  padding-bottom: 4vh;
  font-size: xxx-large;
  color: #ff693a;
}

.slide-text span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 240s linear infinite;
  animation-delay: -21s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}


