<div class="container footer">
  <div class="row">
    <div class="col col-md-6">
      <img src="https://thegameawards.com/svgs/ft_logo.svg">
      <div class="links row">
        <div class="col col-md-4">
          <a>ABOUT</a>
        </div>
        <div class="col col-md-4">
          <a>JURY</a>
        </div>
        <div class="col col-md-4">
          <a>PRIVACY</a>
        </div>
      </div>
      <div class="links row">
        <div class="col col-md-4">
          <a>SUBSCRIPTIONS</a>
        </div>
        <div class="col col-md-4">
          <a>FAQ</a>
        </div>
        <div class="col col-md-4">
          <a>CONTACT</a>
        </div>
      </div>
      <div class="links row">
        <div class="col col-md-4">
          <a>TERMS</a>
        </div>
      </div>
    </div>
  </div>
</div>
