.footer{
  background-color: black;
  padding: 5vw;
  margin: 0;
  width: 100%;
  max-width: 100%;
  background-image: url(https://cdn.thegameawards.com/frontend/pngs/footer_bg_gray.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}

.links {
  margin: 1vw;
  margin-top: 8vh;
  color: white;
  opacity: 0.5;
  line-height: 19px;
  font-size: medium;
}
