<div class="container footer">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
      <img id="footer-img" src="https://thegameawards.com/svgs/ft_logo.svg">
      <div class="links row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 col-md-4">
          <a href="">HOME</a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 col-md-4">
          <a href="/about">ABOUT</a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 col-md-4">
          <a href="/jury">JURY</a>
        </div>
      </div>
      <div class="links row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 col-md-4">
          <a href="/nominees">NOMINEES</a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4 col-md-4">
          <a href="/results">RESULTS</a>
        </div>
      </div>
    </div>
  </div>
</div>
