.footer{
  background-color: black;
  padding: 5vw;
  margin: 0;
  width: 100%;
  max-width: 100%;
  background-image: url(https://cdn.thegameawards.com/frontend/pngs/footer_bg_gray.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  @media screen and (max-width: 992px) {
    background-size: 400%;
  }
}

#footer-img {
  @media screen and (max-width: 992px) {
    margin-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.links {
  margin: 1vw;
  margin-top: 8vh;
  color: white;
  line-height: 19px;
  font-size: medium;
  @media screen and (max-width: 992px) {
    font-size:xx-large;
    line-height: normal;
    text-align: center;
    margin-top: 0;
  }
}

.links a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}
.links a:hover {
  text-decoration: none;
  color: white;
  opacity: 0.85;
}
