<div class="container footer">
  <div class="row">
    <div class="col col-md-6">
      <img src="https://thegameawards.com/svgs/ft_logo.svg">
      <div class="links row">
        <div class="col col-md-4">
          <a href="">HOME</a>
        </div>
        <div class="col col-md-4">
          <a href="/about">ABOUT</a>
        </div>
        <div class="col col-md-4">
          <a href="/jury">JURY</a>
        </div>
      </div>
      <div class="links row">
        <div class="col col-md-4">
          <a href="/nominees">NOMINEES</a>
        </div>
        <div class="col col-md-4">
          <a href="/results">RESULTS</a>
        </div>
      </div>
    </div>
  </div>
</div>
