<video id="background-video" [autoplay]="true" [loop]="true" [muted]="true">
  <source src="https://thegameawards.com/video/nominees_bg__d.mp4" type="video/mp4">
</video>
<div class="container home">
  <div class="col col-md-6 offset-md-1">
    <h2 class="title open-title">NOMINEES</h2>
    <h3 class="subtitle">THE GAME AWARDS AIRS LIVE AND FREE ON THURSDAY, DEC 8 AT 7:30PM ET, 4:30PM PT. THE SHOW AIRS ACROSS ALL MAJOR DIGITAL, SOCIAL AND GAMING PLATFORMS AROUND THE WORLD.</h3>
  </div>
</div>

<div>

  <div class="container">
    <div class="card">
      <h2>North</h2>
      <i class="fas fa-arrow-right"></i>
      <p>a lonely trip.</p>
      <div class="pic"></div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="social">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-github"></i>
      </div>
      <button>
      </button>
    </div>
    <div class="card card2">
      <h2>Vauxhall</h2>
      <i class="fas fa-arrow-right"></i>
      <p>a lonely trip.</p>
      <div class="pic"></div>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="social">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-github"></i>
      </div>
      <button>
      </button>
    </div>
  </div>

  <a href="https://dribbble.com/YancyMin" class="dr-url" target="_blank"><img class="dr" src="https://cdn.dribbble.com/assets/logo-footer-hd-a05db77841b4b27c0bf23ec1378e97c988190dfe7d26e32e1faea7269f9e001b.png" alt=""></a>



</div>
