.home {
  /*  padding: 5vw;*/
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding-bottom: 20vh;
}


.title {
  margin-top: 20vh;
  font-size: 10vw;
  color: white;
}

.open-title {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

button {
  letter-spacing: 4px;
  background-color: transparent;
  border-color: white;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  color: white;
  padding: 10px 30px;
  display: block;
  margin-top: 10px;
  font-size: large;
  margin-bottom: 20px;
  width: 100%;
}

.subtitle {
  margin-top: 8vh;
  color: white;
  font-size: 2vw;
  margin-left: .2vw;
  font-weight: bold;
  line-height: 4.5vh;
}

.intro {
  color: #e2e2e2cc;
  font-size: large;
  line-height: 4vh;
}

#background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.background-dark {
  background-image: url("https://cdn.thegameawards.com/frontend/bgs/nominee-bg-d.jpg");
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
}

.clicked-btn{
  background-color: #d43f10;
  border-color: #d43f10;
}

button:hover {
  background-color: #d43f10;
  border-color: #d43f10;
}



////////////////////

.wrapper{
  width:350px;
  border-radius: 40px;
  overflow: hidden;
  background-color: #0F1620;
}
.overviewInfo, .productSpecifications {
  padding: 24px;
}

.productSpecifications p{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 200px;
  margin-bottom: 50px;
}

h1{
  font-family: 'Michroma', sans-serif;
}
.grouptext{
  h3 {
    letter-spacing: 3.2px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  p {
    font-size: 12px;
    opacity: 0.8;
  }

}




.productSpecifications{

  h1{
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 32px;
  }

  p {
    opacity: 0.8;
    font-size: 15px;
    line-height: 1.5;
  }

  .productFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    grid-row-gap: 16px;
    .feature{ display:flex;}
  }
}

.priceTag {
  display: flex;
  align-items: center;
  font-size: 32px;
}

.priceTag span {
  color: #488dc7;
  font-size: 20px;
}


.games-band{
  max-width: 100%;
  background-color: #aa320d;
  padding: 2vh;
  text-align: center;
}
.games-band h2 {
  padding:0;
  margin:0;
  font-size: xx-large;
}

button {
  label {
    transition: opacity 0.3s ease-out;
    opacity: 0;
  }
}

button:hover {
  label {
    transition: opacity 0.3s ease-out;
    opacity: 100;
  }
}


.games-band{
  max-width: 100%;
 // background-color: #aa320d;
  background-color: transparent;
  padding: 2vh;
  text-align: center;
}
.games-band h2 {
  padding:0;
  margin:0;
  font-size: xx-large;
}
