<div style="margin: auto; width: 80%; background-color: black">
  <div *ngIf="isAdmin">
    <h2>Start Game Award new Session</h2>
    <button>Start Session</button>
    <hr>
    <h2>Session next round</h2>
    <button>Next round / draw current</button>
    <hr>
    <h2>Add a new jury</h2>
    <input class="input-group-lg " #juryToAdd required placeholder="MetaMask Id : 0x...">
    <br><br><input class="input-group-lg " #juryToAddImage required placeholder="Image URL : https://...">
    <br><br><input class="input-group-lg " #juryToAddName required placeholder="Jury Name: Sony...">
    <button [disabled]="loading" (click)="addJury(juryToAdd.value.toString(), juryToAddName.value.toString(), juryToAddImage.value.toString())">Add</button>
    <p *ngIf="error" style="color: red">{{error}}</p>
    <h2>Remove a jury member</h2>
    <p *ngFor="let jury of juryList">FDP {{jury.name}}
      <mat-icon style="color: red; vertical-align: middle; cursor:pointer;" (click)="removeJury(jury.address)">highlight_off</mat-icon>
    </p>
  </div>
  <div *ngIf="hasVote">
    <h2>Current vote</h2>
    <p>You have voted for XYZ ... for phase 1</p>
  </div>
  <div *ngIf="canAddGame">
    <h2>Add a game</h2>
    <p>Are you a studio ? want your game represented in the competition ? go ahead !</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
          <div *ngIf="f['name'].errors['required']">Name is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"></textarea>
        <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
          <div *ngIf="f['description'].errors['required']">Description is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" id="price" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['price'].errors }" />
        <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
          <div *ngIf="f['price'].errors['required']">Price is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="release-date">Release Date:</label>
        <input type="text" id="release-date" formControlName="releaseDate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['releaseDate'].errors }" />
        <div *ngIf="submitted && f['releaseDate'].errors" class="invalid-feedback">
          <div *ngIf="f['releaseDate'].errors['required']">Release date is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="platform">Platform:</label>
        <input type="text" id="platform" formControlName="platform" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['platform'].errors }" />
        <div *ngIf="submitted && f['platform'].errors" class="invalid-feedback">
          <div *ngIf="f['platform'].errors['required']">Platform is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="imageUrl">Image URL :</label>
        <input type="text" id="imageUrl" formControlName="platform" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['imageUrl'].errors }" />
        <div *ngIf="submitted && f['imageUrl'].errors" class="invalid-feedback">
          <div *ngIf="f['imageUrl'].errors['required']">Image URL is required</div>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Send</button>
      </div>
    </form>
  </div>
</div>

